{% extends 'containeur.html'%}
{% block contenu %}

<!--Cette page affiche la page biographie-->

<h1>Biographie</h1>
<div class="img_atget"><img src="{{ url_for("static", filename="img/Portrait_Eugene_Atget.jpg") }}" alt="Portrait d'Eugène Atget" title="Eugène Atget"></div>
<div class="biog"><div class="col-12">
<p>Eugène Atget né le 12 février 1857 à Libourne et meurt le 4 aout 1927 à Paris. Sa vie est assez mal connue. Né dans une famille modeste, il s'engage dans la marine jeune, avant d'entrer au Conservatoire national de musique et de déclamantion en 1879 et fut directeur d'un hebdomadaire humoristique intitulé Le Flâneur à partir de 1882. Il joue dans quelques petites pièces mais je connais pas le succès, il abandonne cette activité à la suite d'une affection des cordes vocales et retournera à ses premières amours : l'art.</p>
<p>Il s'essaie à la peinture et au dessin avant de se consacrer exclusivement à la photographie. Son but est initialement de documenter le travail des peintre et dessinateur. Entre 1888 et 1890 il s'essaie à la photographie en autodidacte. Il commence par photographier des paysages, des documents pour des artistes. C'est en 1897 qu'il décide de photographier Paris. Son but est de sauvegarder une image de la capitale, de quartiers voués à disparaitre ou à changer. De même, il voit la mort des petits métiers, condamnés par l'essor nouveau des grands magasins parisiens. Il se tourne désormais vers les institutions culturelles et les amoureux de Paris et de son histoire pour vendre ses prises de vues. En effet ces institutions rassemblent d'importants fonds de vues de la capitale et achètent beaucoup de clichés à Atget.</p>
<p>Ces photographies sont organisées en séries :</p>
<div>
<ul>
	<li>Paysages et documents : divisée en plusieurs sous-séries (Vues et plantes, Animaux, Animaux de ferme, Rouen, Documents).</li>
	<li>Vieille France : elle comporte des vues prises dans différentes villes de France.</li>
	<li>Costumes et Arts religieux : constituée de reproduction de gravures, extraites notamment du fonds Gaignères.</li>
	<li>Paris pittoresque : réalisée à partir de 1898 et interrompue jusqu'aux années 1910.</li>
	<li>L’art dans le Vieux Paris : débutée en 1898 elle comprend aussi bien des églises, des façades, des porches, des portes, des cours et des escaliers que des éléments décoratifs.</li>
	<li>Environs : à partir de 1902 Atget suit les traces de Corot et photographie les lieux traversés par le peintre. À partir de 1922, il se concentre sur le nord et l’est de Paris.</li>
	<li>La Topographie du Vieux Paris : dans cette série réalisée entre 1906 et 1915, Atget photographie les rues du vieux Paris systématiquement arrondissement par arrondissement.</li>
	<li>La série Intérieurs parisiens.</li>
</ul>
</div>
<p>Les clichés sont nets et très détaillés, allant totalement à l'encontre du courant artistique en vogue à ce moment là, Atget s'attache à la lumière et au cadrage pour réaliser ses prises de vues. Son appareil en bois avec une chambre à soufflet l'oblige à des temps de pose très longs. Il utilise les plaques en gélétino-bromure d'argent, négligeant tout à fait les techniques plus modernes apparues rescemment. Contrairement à ce que l'on peut voir sur certaines photos numérisées, Atget ne photographie pas en noir et blanc mais en sépia, ce qui lui permet d'apprécier davantage les contrastes. Il réalise lui même ses tirages dans son appartement du 14ème arrondissement. </p>
<p>Il cesse de photographier dès le début de la première guerre mondiale et ce jusqu'au début des années 1920, ses finances sont précaires. Ces dernières années de vie, Atget les vivra dans la pauvreté la plus totale, il vend ses tirages à quelques institutions puis à des artistes tels que Georges Braque, Maurice Utrillon ou Moïse Kisling.</p>
<p>Il décède chez lui le 4 août 1927 et repose au cimetière parisien de Bagneux. Considéré aujourd'hui comme le père de la photographie moderne, son oeuvre inspire notamment Walter Benjamin pour rédiger certains de ces ouvrages comme <a href="https://www.larevuedesressources.org/l-oeuvre-d-art-a-l-epoque-de-sa-reproduction-mecanisee,1976.html" target="_blank" title="L'Œuvre d'art à l'époque de sa reproductibilité technique"><em>L'Œuvre d'art à l'époque de sa reproductibilité technique</em></a>, ou encore la <a href="https://www.larevuedesressources.org/sur-walter-benjamin-et-sa-petite-histoire-de-la-photographie-1931,2006.html" target="_blank" title="La petite histoire de la photographie"><em>Petite Histoire de la photographie</em></a>.</p>
<p>Ses tirages sont aujourd'hui conservés dans des collections privées, mais également à la Bibliothèque nationale de France, au musée du Carnavalet, à la Biliothèque historique de la ville de Paris mais également au MoMa à New York.</p>
</div>
<div>
<p class="citation">"La photographie est une construction de son auteur. Elle est par essence une fiction, mais une fiction ancrée dans le réel, le temps et l'histoire - de façon complexe et souvent problématique."</p>
<p class="citation" style="font-weight: bold;">Eugène Atget</p>
</div>
<div class="biog"><div class="col-12">
<p  style="font-size: 13px; text-decoration: underline;">Sources : <a href="http://expositions.bnf.fr/atget/arret/01.htm" title="Eugène Atget à la BnF" target="_blank">BnF</a> - 
<a href="http://expositions.bnf.fr/atget/arret/24.htm" title="L'ambition d'Atget" target="_blank">BnF</a> - <a href="https://fr.wikipedia.org/wiki/Eug%C3%A8ne_Atget" title="Wikipedia" target="_blank">Wikipedia</a></p>
</div> <!--le target="_blank" permettent d'ouvrir le lien dans un nouvel onglet lorsque l'utilisateur clique dessus-->
{% endblock contenu %}